---
---

@import "{{ site.theme }}";

.header, footer {
	text-align: center;
}

footer {
	color: #6e6e6e;
}

header {
	height: 100%;
	margin-top: 0px;
	border-top-right-radius: 0;
}

body {
	padding-top: 0px;

}

.nav li a {
	display: block;
	width: 100%;
	padding-left: 15px;
	outline: 0;
}

.nav li.current {
	background: -webkit-linear-gradient(top, #AF0011 0%, #d80011 100%);
}