---
---


@import "{{ site.theme }}";

code, pre {
  tab-size: 4; /* Set tab size to 4 spaces */
  -moz-tab-size: 4;
  line-height: 18px;
}
.header, footer {
	text-align: center;
}

footer {
	color: #6e6e6e;
}

header {
	height: 100%;
	margin-top: 0px;
	border-top-right-radius: 0;
}

body {
	padding-top: 0px;
}

.nav li a {
	display: block;
	width: 100%;
	padding-left: 15px;
	outline: 0;
}

.nav li.current {
	background: -webkit-linear-gradient(top, #AF0011 0%, #e80011 100%);
}